@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #070707;
  }
}

html{
  height: 100%;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 34px)) !important;
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 5px)) !important;
  border-radius: 50px !important;
}

.swiper-pagination-bullet-active {
  background-color: #8E170D !important;
}
