.discover {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.heading {
  font-weight: 600;
  text-align: left;
  font-size: clamp(20px, 4vw, 28px);
  margin: 10px;
}

.searchBar {
  display: flex;
  flex-direction: row;
  margin: 10px;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
}

.searchBar > input {
  margin-left: 5px;
  width: 100%;
  background-color: transparent;
}

.searchBar > input:focus {
  outline: none;
}

.bestDestinations {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.bestDestinations > h3 {
  font-weight: bold;
  color: #434343;
  margin-bottom: 20px;
}
